<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Odix_Plus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="Odix_Plus.Properties.Settings.Car_DataBaseConnectionString"
      connectionString="Data Source=USER\SQL2014;Initial Catalog=Expen_Data;Integrated Data Source=USER\SQL2014;Initial Catalog=Expen_Data;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Odix_Plus.Properties.Settings>
      <setting name="CnDataBase" serializeAs="String">
        <value />
      </setting>
      <setting name="Cnpass" serializeAs="String">
        <value />
      </setting>
      <setting name="CnServer" serializeAs="String">
        <value />
      </setting>
      <setting name="CnUser" serializeAs="String">
        <value />
      </setting>
      <setting name="CompanyEMAIL" serializeAs="String">
        <value>البريد الالكتروني</value>
      </setting>
      <setting name="CompanyLOG" serializeAs="String">
        <value>C:\Odix\logo.png</value>
      </setting>
      <setting name="CompanyMOBILE" serializeAs="String">
        <value>موبايل</value>
      </setting>
      <setting name="CompanyNAME" serializeAs="String">
        <value>اسم الشركة</value>
      </setting>
      <setting name="CompanyPHONE" serializeAs="String">
        <value>الهاتف</value>
      </setting>
      <setting name="CompanyWEB" serializeAs="String">
        <value>موقع الويب</value>
      </setting>
      <setting name="ConnectionsStr" serializeAs="String">
        <value>Data Source=USER\SQL2014;Initial Catalog=Expen_Data;Integrated Security=True</value>
      </setting>
      <setting name="Countcolumns" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="CreatedBy_ID" serializeAs="String">
        <value />
      </setting>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
      <setting name="DebitnotequaleCredit" serializeAs="String">
        <value />
      </setting>
      <setting name="FormatNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="Heightpos" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ID" serializeAs="String">
        <value />
      </setting>
      <setting name="Itcannotbecollecteditmustbesavedfirst" serializeAs="String">
        <value />
      </setting>
      <setting name="Itcannotberejecteditmustbesavedfirst" serializeAs="String">
        <value />
      </setting>
      <setting name="LangProg" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MesgeAccountMin0" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgeAreyousure" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgeComplete" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgeDelete" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgeduplicateCode" serializeAs="String">
        <value />
      </setting>
      <setting name="Mesgeduplicatename" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgeError" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgeSuccessfullysaved" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgeRecord" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgeNoRecordfound" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgeSuccessfullyupdated" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseenterNationality" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseenterNationalityDebit0" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseenterNationalityCredit0" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseententerCurrency" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseentClickNews" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseenterAccount" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseeAmount0" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseenterPass" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseenterPassAndName" serializeAs="String">
        <value />
      </setting>
      <setting name="Previweprintpos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Thecollectionmustbecanceledfirst" serializeAs="String">
        <value />
      </setting>
      <setting name="UserGroupGroup" serializeAs="String">
        <value />
      </setting>
      <setting name="Widthpos" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="UserGuid" serializeAs="String">
        <value>df985ccc-df6d-402d-af75-53479def0ca6</value>
      </setting>
      <setting name="User_Branch_ID" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseenterCategory" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseenterNameCar" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseenterSuppliers" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePath" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseentername" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgeSuccessfullydeleted" serializeAs="String">
        <value />
      </setting>
      <setting name="Thenameandthegroupnamearethesame" serializeAs="String">
        <value />
      </setting>
      <setting name="Rejectionmustbecanceledfirst" serializeAs="String">
        <value />
      </setting>
      <setting name="MesgePleaseenterTenantname" serializeAs="String">
        <value />
      </setting>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Mode" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationSkinPaletteName" serializeAs="String">
        <value>Art House</value>
      </setting>
    </Odix_Plus.Properties.Settings>
  </userSettings>
</configuration>